<p>
    <strong>id</strong>: <%= donor.facebook.id %><br>
    <strong>token</strong>: <%= donor.facebook.token %><br>
    <strong>email</strong>: <%= donor.facebook.email %><br>
    <strong>name</strong>: <%= donor.facebook.name %>
</p>